<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px; height: 100vh; position: fixed;">
    <a href="/admin" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <i class="bi bi-shield-lock-fill me-2 fs-4"></i>
        <span class="fs-4 fw-bold">Admin Panel</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="/admin" class="nav-link text-white">
                <i class="bi bi-speedometer2 me-2"></i> Dashboard
            </a>
        </li>
        <li>
            <a href="/admin/booking" class="nav-link text-white">
                <i class="bi bi-calendar-check me-2"></i> Manage Booking
            </a>
        </li>
        <li>
            <a href="/admin/laporan" class="nav-link text-white">
                <i class="bi bi-file-earmark-text me-2"></i> Manage Laporan
            </a>
        </li>
        <li>
            <a href="/admin/monitoring" class="nav-link text-white">
                <i class="bi bi-graph-up me-2"></i> Manage Penyakit
            </a>
        </li>
    </ul>
    <hr>
    <div class="dropdown">
        <a href="/" class="d-flex align-items-center text-white text-decoration-none">
            <i class="bi bi-house-door me-2"></i> Kembali ke Web
        </a>
    </div>
</div>